<div class="jumbotrondark mt-4">
    <h1 class="display-4">Block de notas</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam corporis, ducimus commodi nam eius tempore vero eos et sequi? Quos.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum asperiores facilis consectetur rerum laborum similique mollitia voluptate repellat ipsum libero.</p>
    <a href="https://www.youtube.com/watch?v=Hjp0nTY2dBk&list=PLo5lAe9kQrwqUEXK7oQbzv63KsdODzuAy&index=9" class="btn btn-primary" target="_blank">como aprendi a hacer esto</a>
</div>
